* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
section.banner_capa {
  position: relative;
  width: 100%;
}
section.banner_capa::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 26.0416666667%;
}
section.banner_capa > .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
section .banner_capa picture img {
  width: 100%;
}

/*--- INICIO LP ---*/

/* corpo LP  */

section.corpo_lp {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* linha troca fast */
section.corpo-troca-fast::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 28.447917%;
  margin-top: 0vw;
}
.wrapper-aspect-ratio:before {
  margin-top: 0vw;
}
section .corpo-troca-fast {
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.texto-linha-troca-fast h2 {
  position: absolute;
  top: 11.5vw;
  font-size: 1.3vw;
}
.texto-linha-troca-fast h2:nth-of-type(1) {
  left: 10.5%;
}
.texto-linha-troca-fast h2:nth-of-type(2) {
  left: 48%;
}
.texto-linha-troca-fast h2:nth-of-type(3) {
  left: 81%;
}
.texto-linha-troca-fast p {
  position: absolute;
  top: 60%;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.8vw;
}
.texto-linha-troca-fast p:nth-of-type(1) {
  width: 21%;
  left: 3%;
}
.texto-linha-troca-fast p:nth-of-type(2) {
  left: 38%;
  width: 24%;
}
.texto-linha-troca-fast p:nth-of-type(3) {
  left: 72%;
  width: 24%;
}

/* seção suporte técnico */
section.suporte-tecnico::before {
  display: block;
  content: "";
  width: 100%;
  margin-top: -2.7%;
  padding-top: 20.4167%;
}

section.suporte-tecnico {
  display: block;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
}

section.suporte-tecnico .line {
  position: absolute;
  width: 0.1vw;
  height: 17%;
  top: 6%;
  left: 94.9%;
  background-color: #d4c9a3;
  z-index: 0;
}
section.suporte-tecnico h2 {
  position: absolute;
  font-size: 4.3vw;
  top: 28%;
  left: 6%;
}
section.suporte-tecnico h2.tecnico {
  position: absolute;
  top: 52%;
  left: 13%;
}
section.suporte-tecnico h3 {
  position: absolute;
  width: 40%;
  font-size: 1.9vw;
  top: 27%;
  left: 56%;
  line-height: 2.2vw;
  font-weight: 600;
}
section.suporte-tecnico p {
  position: absolute;
  width: 39%;
  font-size: 1.3vw;
  top: 52%;
  left: 56%;
  font-weight: 400;
}

section.suporte-tecnico span {
  position: absolute;
  width: 37%;
  font-size: 1vw;
  top: 74%;
  left: 56%;
}

/* section marcas */

section.marcas-aceitas::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 33.2915360502%;
}

section.marcas-aceitas {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 10vw auto;
  background-color: #fafafa;
  border-radius: 16px;
  position: relative;
  max-height: 500px;
}
section.marcas-aceitas h2 {
  position: absolute;
  left: 44%;
  top: 0.6vw;
  font-weight: 400;
  text-align: center;
  font-size: 2.5vw;
}
section.marcas-aceitas .container-marcas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 96%;
  height: 76%;
  padding: ;
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
}

/* setas carousel */
section.marcas-aceitas .container-marcas .owl-prev,
section.marcas-aceitas .container-marcas .owl-next {
  width: 36px;
  height: 36px;
  box-shadow: 0px 0px 2px 2px #0000000d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.marcas-aceitas .container-marcas .owl-prev {
  position: absolute;
  left: -9vw;
  top: 40%;
}
section.marcas-aceitas .container-marcas .owl-next {
  position: absolute;
  right: -9vw;
  top: 40%;
}
section.marcas-aceitas .container-marcas .carousel {
  width: 90%;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 5% auto;
  overflow: hidden;
}
section.marcas-aceitas .container-marcas .hidden-logo {
  width: 81%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 4%;
}
section.marcas-aceitas .container-marcas .carousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section encotre loja */
section.encontre_loja::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 26.0416666667%;
  margin-top: -3vw;
}
section.encontre_loja {
  width: 97%;
  heigth: 349px;
  margin: 0 auto;
  position: relative;
}
section.encontre_loja picture img {
  width: 35%;
  height: auto;
  position: absolute;
}
section.encontre_loja .background_encotre_loja {
  width: 63%;
  height: 74.5%;
  left: 37%;
  position: absolute;
  background-color: #eee9da;
  border-radius: 16px;
}
section.encontre_loja h2 {
  position: absolute;
  left: 41%;
  top: 8.53%;
  font-size: 2vw;
  font-weight: 600;
}
section.encontre_loja p {
  position: absolute;
  left: 41%;
  top: 32.53%;
  font-size: 1.4vw;
  font-weight: 400;
}
section.encontre_loja button {
  position: absolute;
  left: 41%;
  top: 55.53%;
  font-size: 0.8vw;
  font-weight: 600;

  width: 25%;
  height: 1%;
  padding: 1.5% 5%;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: 0;
  background-color: #303030;
  color: #ffffff;
  cursor: pointer;
}

/* section FAQ */
.wrapper-aspect-ratio:before {
  margin-top: -3vw;
}
.golden {
  position: relative;
  max-width: 1600px;
  width: 70%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
}
.golden_faq {
  background-color: #ffffff;
  padding-bottom: 8rem;
}
#goldFri_sanfona_faq {
  width: 83%;
  margin: 0 auto;
}
.golden_faq #goldFri_sanfona_faq h2 {
  text-align: center;
  width: 100%;
  letter-spacing: 0.3vw;
  color: #303030;
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
  padding: 0px 0px 85px;
}
.goldFri_sanfona_item {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #cccccc;
  margin-bottom: 0.8vw;
}
.goldFri_sanfona_item_ativo {
  background-color: #ffffff;
}
.goldFri_sanfona_titulo p {
  font-weight: bold;
  margin-bottom: 0 !important;
  margin: 0;
}
.goldFri_sanfona_seta {
  position: absolute;
  width: 3%;
  right: 2%;
  top: 25%;
  transform: rotate(0deg);
  color: #303030;
}
.goldFri_sanfona_conteudo {
  max-height: 0;
  overflow: hidden;
  transition: 200ms;
}
.goldFri_sanfona_conteudo p {
  width: 90%;
  line-height: 18pt;
  margin-top: 1vw;
}
.goldFri_sanfona_item_ativo .goldFri_sanfona_seta {
  transform: rotate(180deg);
}
.goldFri_sanfona_item_ativo .goldFri_sanfona_conteudo {
  transition: max-height 500ms;
  max-height: 500px;
}

/* footer */
footer {
  width: 100%;
  min-width: 100%;
  height: 12.625rem;
  padding: 0.625rem 6.25rem;
  background-color: #303030;
  margin-bottom: -10%;
}

footer::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 6.0416666667%;
}

footer > .inner {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  gap: 27px;
}
footer .footer-troca-fast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  margin: 0 auto;
}
footer .footer-troca-fast p {
  width: 84%;
  height: auto;
  color: #ffffff;
  font-size: 0.8vw;
  line-height: 1.5vw;
}
footer .footer-troca-fast img {
  width: 6vw;
  height: auto;
  margin-left: -11vw;
}

footer .footer-troca-fast h2 {
  display: none;
}

/* Media Responsiva */

@media screen and (min-width: 1600px) {
  .texto-linha-troca-fast h2 {
    font-size: 16px;
    top: 196px;
  }
  .texto-linha-troca-fast p {
    font-size: 14px;
    line-height: 24px;
  }

  .texto-linha-troca-fast p:nth-of-type(1) {
    width: 241px;
    left: 56px;
    line-height: 24px;
  }
  .texto-linha-troca-fast p:nth-of-type(2) {
    width: 18%;
    left: 41%;
  }
  .texto-linha-troca-fast p:nth-of-type(3) {
    width: 17%;
    left: 75%;
  }

  section.suporte-tecnico h2 {
    font-size: 70px;
  }
  section.suporte-tecnico h2.tecnico {
    font-size: 70px;
  }
  section.suporte-tecnico::before {
    margin-top: -3.7%;
  }
  section.suporte-tecnico h3 {
    font-size: 32px;
  }
  section.suporte-tecnico p {
    font-size: 20px;
  }
  section.suporte-tecnico span {
    font-size: 20px;
  }
  section.marcas-aceitas h2 {
    top: 1.5%;
    font-size: 2.2vw;
  }
  section.encontre_loja p {
    font-size: 1.2vw;
  }
  section.encontre_loja button {
    font-size: 0.7vw;
  }

  footer .footer-troca-fast h2 {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  section.banner_capa::before {
    padding-top: 166.6666666667%;
  }
  section.corpo-troca-fast::before {
    margin-top: 0;
    padding-top: 252%;
  }

  .texto-linha-troca-fast h2:nth-of-type(1) {
    left: 43%;
    top: 16%;
    font-size: 3vw;
  }
  .texto-linha-troca-fast h2:nth-of-type(2) {
    left: 43%;
    top: 48%;
    font-size: 3vw;
  }

  .texto-linha-troca-fast h2:nth-of-type(3) {
    left: 44%;
    top: 79%;
    font-size: 3.3vw;
  }
  .texto-linha-troca-fast p:nth-of-type(1) {
    left: 20%;
    top: 21%;
    width: 58%;
    font-size: 3vw;
    line-height: 6.3vw;
  }
  .texto-linha-troca-fast p:nth-of-type(2) {
    left: 21%;
    top: 54%;
    width: 62%;
    font-size: 3vw;
    line-height: 6.3vw;
  }
  .texto-linha-troca-fast p:nth-of-type(3) {
    left: 23%;
    top: 84%;
    width: 59%;
    font-size: 3vw;
    line-height: 6.3vw;
  }

  /* suport Responsivo maximo 1100px*/
  section .suporte-tecnico .line {
    display: none;
  }

  section.suporte-tecnico::before {
    padding-top: 115.675325%;
    margin-top: -13%;
  }
  section.suporte-tecnico h2 {
    font-size: 7.3vw;
    top: 38%;
    left: 20%;
    font-weight: 600;
  }
  section.suporte-tecnico h2.tecnico {
    top: 38%;
    left: 52%;
    font-weight: 600;
  }
  section.suporte-tecnico h3 {
    width: 76%;
    font-size: 4vw;
    top: 52%;
    left: 14%;
    text-align: center;
    line-height: 7.2vw;
  }
  section.suporte-tecnico p {
    position: absolute;
    width: 97%;
    font-size: 3vw;
    top: 71%;
    left: 2%;
    text-align: center;
  }
  section.suporte-tecnico span {
    width: 76%;
    font-size: 3vw;
    top: 87%;
    left: 12%;
    text-align: center;
  }
  section.marcas-aceitas::before {
    padding-top: 83.6363636364%;
    margin-top: -4%;
  }
  /* marcas aceitas responsivo maximo 1100px*/
  section.marcas-aceitas {
    width: 100%;
  }
  section.marcas-aceitas .container-marcas {
    width: 93%;
  }
  section.marcas-aceitas h2 {
    font-size: 4.2vw;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  section.marcas-aceitas .container-marcas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
  }

  section.marcas-aceitas .container-marcas .owl-prev {
    left: -14vw;
  }
  section.marcas-aceitas .container-marcas .owl-next {
    right: -14vw;
  }
  /* encontre loja responsivo maximo 1100px**/
  section.encontre_loja::before {
    padding-top: 114.8051948052%;
  }
  section.encontre_loja picture img {
    width: 96%;
    height: 40%;
    position: relative;
    left: 2%;
  }

  section.encontre_loja .background_encotre_loja {
    width: 96%;
    height: 52%;
    left: 2%;
    top: 39%;
    position: absolute;
    background-color: #eee9da;
    border-radius: 0 0 16px 16px;
    z-index: 2;
  }
  section.encontre_loja h2 {
    width: 55%;
    font-size: 5.2vw;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
  }
  section.encontre_loja p {
    width: 76%;
    font-size: 3.5vw;
    z-index: 2;
    top: 64%;
    left: 13%;
    text-align: center;
  }
  section.encontre_loja p strong {
    display: none;
  }
  section.encontre_loja button {
    width: 83vw;
    height: 11.3vw;
    top: 78%;
    left: 6%;
    z-index: 2;
    font-size: 3vw;
    font-weight: 400;
    border-radius: 7vw;
    padding: 0px 10px;
    position: absolute;
    height: 10vw;
  }

  section.encontre_loja button strong {
    font-weight: 400;
  }

  /* FAQ responsivo maximo 1100px */
  .golden {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
  }
  .golden_faq #goldFri_sanfona_faq h2 {
    font-size: 4vw;
    font-weight: 400;
    padding: 6% 0px 5%;
  }
  #goldFri_sanfona_faq {
    width: 98%;
  }

  .goldFri_sanfona_item {
    padding: 3vw;
    border-radius: 45px;
    border: 1px solid #303030;
    margin-bottom: 5%;
  }

  .golden_faq {
    padding-bottom: 13vw;
  }

  .goldFri_sanfona_titulo {
    font-weight: bold;
    width: 80%;
  }
  .goldFri_sanfona_titulo p {
    font-weight: 400;
  }

  .goldFri_sanfona_seta {
    width: 5%;
    right: 6%;
    top: 25%;
  }

  .goldFri_sanfona_conteudo p {
    width: 80%;
    font-weight: 600;
  }

  /* Footer responsivo maximo 1100px */
  footer::before {
    padding-top: 115.8441558442%;
    margin-top: -2%;
    position: relative;
  }
  footer {
    background-color: #303030;
    height: 100vw;
    text-align: center;
  }
  footer .footer-troca-fast p {
    color: #ffffff;
    position: absolute;
    font-size: 2.8vw;
    line-height: 6.2vw;
    width: 91%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  footer .footer-troca-fast img {
    position: absolute;
    width: 28vw;
    height: auto;
    top: 88%;
    margin-left: 0vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  footer .footer-troca-fast h2 {
    position: absolute;
    color: #fff;
    display: block;
    font-size: 2.6vw;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
